@page
@model BerrasBio.Pages.CartModel
@{
    var priceOfTickets = Model.Movie.Price;
}



<div align="justify">
    <h4>Var denna film som du ville beställa?</h4>
    <hr />
    <dl class="row-cols-lg-5">
        <dt class="col-lg-2">
            @Html.DisplayNameFor(model => model.Movie.Name)
        </dt>
        <dd class="col-lg-10">
            @Html.DisplayFor(model => model.Movie.Name)
        </dd>
        <dt class="col-lg-2">
            @Html.DisplayNameFor(model => model.Movie.Price)
        </dt>
        <dd class="col-lg-10">
            @Html.DisplayFor(model => model.Movie.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Minutes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Minutes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Date)

        </dd>
    </dl>
   
</div>


 <div class="col-sm-2">
     <p><strong>Prislista</strong></p>
 @for(var i = 1; i <= 12; i++)
    {<p> @i biljett(er): @(priceOfTickets*i)KR</p>}
</div>


 <h5>Antal biljetter</h5>

<form method="post">
 <input type="number" name="number" />

<div class=form-group> 
    <span asp-validation-for="Tickets.Amount"class="text-danger"/>
</div>
    <br />
  
         <div>
        <input type="submit" class="btn btn-primary" style="margin-block-end"/>
        </div>
 </form>


    <a asp-page="/Index">Return</a>
 