@page
@model BerrasBio.Pages.CartModel
@{
}
<div>
    <h4>Var denna film som du ville beställa?</h4>
    <hr />
    <dl class="row-cols-lg-5">
        <dt class="col-lg-2">
            @Html.DisplayNameFor(model => model.Movie.Name)
        </dt>
        <dd class="col-lg-10">
            @Html.DisplayFor(model => model.Movie.Name)
        </dd>
        <dt class="col-lg-2">
            @Html.DisplayNameFor(model => model.Movie.Price)
        </dt>
        <dd class="col-lg-10">
            @Html.DisplayFor(model => model.Movie.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Minutes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Minutes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Date)

        </dd>
    </dl>
   
</div>

<h5>Antal biljetter</h5>

<form method="post">
 <input type="number" name="number"/>
<div class=form-group> 
<select name="number">
        <option value="">1</option>
        <option value="">2</option>
        <option value="">3</option>
        <option value="">4</option>
        <option value="">5</option>
        <option value="">6</option>
        <option value="">7</option>
        <option value="">8</option>
        <option value="">9</option>
        <option value="">10</option>
        <option value="">11</option>
        <option value="">12</option>
</select>
<span asp-validation-for="Tickets.Amount"class="text-danger"/>
</div>
    <input type="submit" class="btn btn-primary"/>
</form>

    <a asp-page="/Index">Return</a>
