@page
@model BerrasBio.Pages.CartModel
@{
    var priceOfTickets = Model.Movie.Price;
    var ticketBuyingLimit = 12;
}



<div align="justify">
    <h1>Var det denna film som du ville beställa?</h1>
    <br />
        <a asp-page="/Index">Gå tillbaka</a>
</div>
    <hr />

 <h5>Antal biljetter</h5>



<form method="post">
  <select type="number" name="number">
      @for(var i=1; i<= @ticketBuyingLimit; i++)
      { <option value=@i>@i</option>}

    
        <input type="submit" class="btn btn-primary" value="KÖP" style=" writing-mode: horizontal-tb;"/>

           </select>
 </form>


<div id=tableAboutMovie>

    <dl class="row-cols-lg-5">
        <dt class="col-lg-2">
            @Html.DisplayNameFor(model => model.Movie.Name)
        </dt>
        <dd class="col-lg-10">
            @Html.DisplayFor(model => model.Movie.Name)
        </dd>
        <dt class="col-lg-2">
            @Html.DisplayNameFor(model => model.Movie.Price)
        </dt>
        <dd class="col-lg-10">
            @Html.DisplayFor(model => model.Movie.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Minutes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Minutes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Date)

        </dd>
    </dl>
   
</div>


          <div id="Pricelist">
     <p><strong>Prislista</strong></p>
 @for(var i = 1; i <= 12; i++)
    {<p> @i biljett(er): @(priceOfTickets*i)KR</p>}
</div>






 