@page
@model BerrasBio.Pages.CheckoutModel
@{
   
}
<div>
    <h4>Slutgiltig beställning</h4>
    <hr />
    <dl class="row-cols-lg-5">
        <dt class="col-lg-2">
            @Html.DisplayNameFor(model => model.Movie.Name)
        </dt>
        <dd class="col-lg-10">
            @Html.DisplayFor(model => model.Movie.Name)
        </dd>
        <dt class="col-lg-2">
            @Html.DisplayNameFor(model => model.Movie.Price)
        </dt>
        <dd class="col-lg-10">
            @Html.DisplayFor(model => model.Movie.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Minutes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Minutes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Date)

        </dd>

    </dl>
    <p>Ticket amount: @Html.DisplayFor(x=>x.BoughtTickets)</p>
   <p>Total cost: @Html.DisplayFor(x => x.Total)</p>
</div>