@page
@model BerrasBio.Pages.ShowAllMovies.CurrentMoviesModel

@{
    ViewData["Title"] = "Current Movies";
}

<h1>Current Movies</h1>

<table class="table">
        
  

        <thead>

        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Amount)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.Ticket[0].Movie)
            </th>
            <th>
                @Html.DisplayNameFor(m=>m.Ticket[0].Movie.Price)
            </th>
            <th>
                @Html.DisplayNameFor(m=>m.Ticket[0].Movie.Minutes)
            </th>
              <th>
                @Html.DisplayNameFor(m=>m.Ticket[0].Movie.Date)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Ticket) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Amount)
            </td>
              <td>
                @Html.DisplayFor(modelItem => item.Movie.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Movie.Price)
            </td>
                <td>
                @Html.DisplayFor(modelItem => item.Movie.Minutes)
            </td>
                 <td>
                @Html.DisplayFor(modelItem => item.Movie.Date)
            </td>
            


                         <td>
                       <div class="NoTickets">

                        @if (item.Amount > 0)
                        {
                        <a asp-page="/Cart" asp-page-handler="BuyTickets" asp-route-id="@item.MovieID">Order tickets</a>
                    }
                    else
                    {
                        <p>SLUTSÅLT</p>
                    }
                  </div>

                </td>
            
        </tr>
}
    </tbody>
</table>

